---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: filebrowser
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 5m
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  values:
    controllers:
      filebrowser:
        containers:
          app:
            image:
              repository: filebrowser/filebrowser
              tag: v2.30.0
            env:
              FB_DATABASE: /config/filebrowser.db
              FB_ROOT: /data
              FB_LOG: stdout
              FB_NOAUTH: true
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
    service:
      app:
        controller: filebrowser
        ports:
          http:
            port: 80
    ingress:
      app:
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
        hosts:
          - host: filebrowser.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: longhorn-snapshot
        accessMode: ReadWriteOnce
        size: 5Gi
        retain: false
        globalMounts: []
      data:
        type: nfs
        server: 10.0.10.18
        path: /mnt/bionis/appdata_backup
        globalMounts:
          - path: /appdata_backup
      sonarr:
        existingClaim: pvc-3d91ea78-3964-4f74-b5cc-19fcea182664
        globalMounts:
          - path: "/sonarr"
